<div class="jumbotron">
  <h1>Welcome to MaYody!</h1>
  <p class="lead text-center">Here you will find infinite number of training materials and tests from different areas ranging from mathematics and programming to biology and philosophy. We are ready to help you improve yourself!</p>
  <p class="text-center"><a class="btn btn-lg btn-success" href="#" role="button">Join us!</a></p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>Excellent price</h4>
    <p>All you can find and get on MaYody is absolutely free! You can learn everything and are not required to pay anything to anyone.</p>

    <h4>Improve others as well</h4>
    <p>With MaYody you are able to teach others as well! All you need is to create your course with our convenient interface.</p>

    <h4>Establish new links</h4>
    <p>Here you can find a lot interesting people who want to know more, to become better. It seems you have a lot in common :)</p>
  </div>

  <div class="col-lg-6">
    <h4>Excellent price</h4>
    <p>All you can find and get on MaYody is absolutely free! You can learn everything and are not required to pay anything to anyone.</p>

    <h4>Improve others as well</h4>
    <p>With MaYody you are able to teach others as well! All you need is to create your course with our convenient interface.</p>

    <h4>Establish new links</h4>
    <p>Here you can find a lot interesting people who want to know more, to become better. It seems you have a lot in common :)</p>
  </div>
</div>