<% provide(:title, "New test") %>

<%= form_for ([@course, @chapter, @test_lesson]) do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>