<div class="col-md-8 col-md-offset-2">
		<%= form_tag  do %>
			<div class = "panel panel-primary">
	   		<div class = "panel-heading">
	      	<h3 class = "panel-title"> <%= @test_question.name %></h3>
	   		</div>
	   
	   		<div class = "panel-body">
	      	<%= @test_question.text %>
	   		</div>
			</div>
			<div class="form-group">
				<% @test_question.question_options.each_with_index do |option, index|%>
					<div class="row col-md-10 col-md-offset-1">
						<div class="col-md-1">
							<%= radio_button_tag(:selected, index, required: true) %>
						</div>
						<div class="col-md-9">
							<%= label_tag "selected #{index}", option.text %>
						</div>
					</div>
				<% end %>
			</div>
				<%= submit_tag "Answer", class: "btn btn-primary" %>
		<% end %>
	</div>