<% provide(:title, @test_lesson.name) %>

<h1><%= @test_lesson.name %></h1>
<p><%= @test_lesson.description %></p>

<%= link_to 'run test', "/courses/#{@course.id}/chapters/#{@chapter.id}/test_lessons/#{@test_lesson.id}/run" %>
<br>
<%= link_to 'add question', new_course_chapter_test_lesson_test_question_path(@course, @chapter, @test_lesson) %>