<% @test.comments.each do |comment| %>
  <article class="row">
	  <div class="col-md-2 col-sm-2 hidden-xs">
	    <figure class="thumbnail">
	      <%= gravatar_for comment.user, 200, class: "img-responsive" %>
	      <figcaption class="text-center"><%= comment.user.name %></figcaption>
	    </figure>
	  </div>
	  <div class="col-md-10 col-sm-10">
	    <div class="panel panel-default arrow left">
	      <div class="panel-body">
	        <header class="text-left">
	          <div class="comment-user"><i class="fa fa-user"></i> <%= comment.user.name %></div>
	          <!-- <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> Dec 16, 2014</time> -->
	        </header>
	        <div class="comment-post">
	          <p>
	            <%= comment.text %>
	          </p>
	        </div>
	        <!-- <p class="text-right"><a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a></p> -->
	      </div>
	    </div>
	  </div>
	</article>
<% end %>
<%= form_for [@test, @test.comments.build] do |f|%>
	<p>
		<%= f.label :text, "Your comment here?" %>
		<%= f.text_area :text, class: "form-control" %>
	</p>
  <p>
    <%= f.submit "Comment", class: 'btn btn-primary' %>
  </p>
<% end %>