<div class="col-md-6 col-md-offset-3">
	<div class="panel panel-danger">
		<div class="panel-heading">
			<h3 class="panel-title">Something went wrong..</h3>
		</div>
		<div class="panel-body">
			You need to be logged in to view this page.
		</div>
	</div>
</div>