<% provide(:title, 'New Question') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@course, @chapter, @test_lesson, @test_question], html: { :class => 'form'} do |question_form| %>
      <%= question_form.label :name %>
      <%= question_form.text_field :name, class: 'form-control' %>

      <%= question_form.label :text %>
      <%= question_form.text_area :text, class: 'form-control' %>
      
      <% Linguistics.use( :en ) %>
    
      <% i = 0 %>
      <fieldset>
        <%= question_form.fields_for :question_options do |builder|%>
          <div class='col-md-1 radio'>
            <%= question_form.radio_button :right_answer, i, class: 'form-control' %>
          </div>
          <% i = i + 1 %>
          <div class="form-group col-md-10">
            <%= builder.label :text, i.en.ordinal + ' option' %>
            <%= builder.text_field :text, class: 'form-control' %>
          </div>
        <% end %>
      </fieldset>
      <%= question_form.submit "Create question", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>