<% provide(:title, "New video lesson") %>

<%= form_for [@course, @chapter, @video_lesson] do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.label :src %>
		<%= f.text_area :src %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>