<% provide(:title, 'All Courses') %>

<div class="list-group">
	<% @courses.each do |course| %>
		<%= link_to course.name, course, class: 'list-group-item text-center' %> 
	<% end %>
	<%= link_to 'Create new course', new_course_path, class: 'list-group-item list-group-item-success text-center' %>
</div>