<% provide(:title, 'New Course') %>
<h1>Enter course data</h1>

<%= form_for @course do |f| %>
	<p>
		<%= f.label :name  %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :desciption %>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>