<% provide(:title, @course.name) %>
<h1>
	<%= @course.name %>
</h1>
<p> 
	<%= @course.description %>
</p>
<div class='list-group'>
	<% @course.chapters.each do |chapter| %>
		<%= link_to chapter.name, [@course, chapter], class: 'list-group-item' %>
	<% end %>
	<%= link_to 'new chapter', new_course_chapter_path(@course), class: 'list-group-item list-group-item-success text-center' %>
</div>