<% provide(:title, @chapter.name) %>
<h1>
	<%= @chapter.name %>
</h1>
<p> 
	<%= @chapter.description %>
</p>

<div class='list-group'>
	<p>
		Text lessons
	</p>
	<% @chapter.text_lessons.each do |text_lesson| %>
		<%= link_to text_lesson.name, [@chapter.course, @chapter, text_lesson], class: 'list-group-item' %>
	<% end %>
	<p>
		Tests
	</p>
	<% @chapter.test_lessons.each do |test_lesson| %>
		<%= link_to test_lesson.name, [@chapter.course, @chapter, test_lesson], class: 'list-group-item' %>
	<% end %>
	<p>
		Video lessons
	</p>
	<% @chapter.video_lessons.each do |video_lesson| %>
		<%= link_to video_lesson.name, [@chapter.course, @chapter, video_lesson], class: 'list-group-item' %>
	<% end %>
</div>

<div class='dropdown'>
	<button class='btn btn-primary dropdown-toggle' type='button' data-toggle='dropdown'>New Lesson</button>
	<ul class='dropdown-menu'>
		<li><%= link_to 'text lesson', new_course_chapter_text_lesson_path(@chapter.course, @chapter) %></li>
		<li><%= link_to 'test lesson', new_course_chapter_test_lesson_path(@chapter.course, @chapter) %></li>
		<li><%= link_to 'video lesson', new_course_chapter_video_lesson_path(@chapter.course, @chapter) %></li>
	</ul>
</div>