<% if logged_in? %>
	<% if @in_test %>
		<% @test.questions.to_a.each_with_index do |question, i| %>
		<% q_s_ans = session["test#{params[:id]}"][i] %>
		<% q_cl_str = (question.answer == q_s_ans) ? "panel-success" : "panel-danger" %>
		<div class="col-md-8 col-md-offset-2">
			<%= form_tag  do %>
				<div class = "panel <%= q_cl_str %>">
		   		<div class = "panel-heading">
		      	<h3 class = "panel-title"> <%= question.title %></h3>
		   		</div>
		   
		   		<div class = "panel-body">
		      	<%= question.text %>
		   		</div>
				</div>
				<div class="list-group col-md-10 col-md-offset-1">
					<% question.options.to_a.each_with_index do |option, index|%>
					<% li_str = "" %>
					<% li_str = "list-group-item-success" if question.answer == index %>
					<% li_str = "list-group-item-danger" if index == q_s_ans && q_s_ans != question.answer %>
						<li class="list-group-item <%= li_str %>">
							<%= option.text %>
						</li>
					<% end %>
				</div>
			<% end %>
		</div>
		<% end %>
			<p>You have <%= "#{@right.to_s} out of #{@test.questions.count}" %> right</p>
			<% session["test#{params[:id]}"] = nil %>
	<% else %>
		<p>You are not running this test currently</p>
	<% end %>
<% else %>
	<%= render 'shared/unloginned' %>
<% end %>