<% if logged_in? %>
	<div class="progress">
		<% percentage = @number * 100/@test.questions.count %>
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percentage%>" 
	  aria-valuemin="0" aria-valuemax="100" style="width:<%= percentage%>%">
	    <span class="<%= 'white-text' if percentage > 50 %>"><%= "#{@number}/#{@test.questions.count}" %></span>
	  </div>
	</div>

	<div class="col-md-8 col-md-offset-2">
		<%= form_tag  do %>
			<div class = "panel panel-primary">
	   		<div class = "panel-heading">
	      	<h3 class = "panel-title"> <%= @question.title %></h3>
	   		</div>
	   
	   		<div class = "panel-body">
	      	<%= @question.text %>
	   		</div>
			</div>
			<div class="form-group">
				<% @options.each_with_index do |option, index|%>
					<div class="row col-md-10 col-md-offset-1">
						<div class="col-md-1">
							<%= radio_button_tag(:selected, index, required: true) %>
						</div>
						<div class="col-md-9">
							<%= label_tag "selected #{index}", option.text %>
						</div>
					</div>
				<% end %>
			</div>
				<%= submit_tag "Answer", class: "btn btn-primary" %>
		<% end %>
	</div>
<% else %>
	<%= render 'shared/unloginned' %>
<% end %>
