<% if logged_in? %>
	<div class="jumbotron">
	  <h1>Test # <%= @test.id %></h1>
	  <p class="lead text-center"><%= @test.description %></p>
	  <p class="text-center"><%= link_to "Let's quiz!", "/tests/#{@test.id}/start", class: "btn btn-lg btn-success" %></p>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<%= render 'shared/test_comments' %>
	</div>
<% else %>
	<%= render 'shared/unloginned.html.erb' %>
<% end %>