<footer class="footer container">
	<small>
		The <%= link_to 'MaYody educational web application', root_path %>
		by <a href="http://www.linkedin.com/in/uladzislaumatulis" target="_blank">Uladzislau Matulis</a>
	</small>
	<nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>