<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "MaYody", root_path, :class => 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li <%='class=active' if current_page?(root_path) %>><%= link_to 'Home', root_path %></li>
      <li <%='class=active' if current_page?(help_path) %>><%= link_to 'Help', help_path %></li>
      <li <%='class=active' if current_page?(about_path) %>><%= link_to 'About', about_path %></li>
      <li <%='class=active' if current_page?(contact_path) %>><%= link_to 'Contact', contact_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Account <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Courses", courses_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to signup_path do %>
            <span class="glyphicon glyphicon-user"></span> Sign up
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <span class="glyphicon glyphicon-log-in"></span> Log in
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>